.block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 1%;
}

.wrapper {
    height: calc(100% - 50px);
    width: 1400px;
    flex-shrink: 0;
    background: #e0e0e0;
    border-radius: 7px;
    display: flex;
}