.secondPage {
    width: 1400px;
    flex-shrink: 0;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 7px 7px 0;
}

.secondPageMainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.btn {
    display: flex;
    align-items: center;
    font-size: 50px;
    border-radius: 9px;
    box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.27);
    padding: 10px;
}

.cancelBtn {
    border-radius: 9px;
    box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.27);
    font-size: 40px;
    width: 100%;
    padding: 5px;
}

.downloadImg {
    width: 175px;
}