.characterInfoWrapper {
    width: 50%;
    height: 100%;
}

.characterWrapper {
    width: 100%;
    background: #040A00;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 5px;
    border-radius: 2%;
}

.characterState {
    height: 45%;
}

.characterInfo {
    height: 54%;
    box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.27);

}

.stat {
    color: #58DD31;
    font-size: 25px;
    cursor: pointer;
}

.characterInfo .stat {
    display: flex;
    justify-content: space-between;
}

.altColor {
    color: #d9d97a;
}

.characterState .stat:nth-last-child(-n + 7) {
    color: #224b1c;
}

.characterState .altColor:nth-last-child(-n + 7) {
    color: #9f9f4e;
}